@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

body {
    margin: 0;
    background-color: #202840;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  body {
    margin: 0;
    background-color: #202840;
  }
  
  #btnDebug {
    position: fixed;
    z-index:1;
    top: 10px;
    left: 10px;
  }
  
  .star {
    fill: white;
    animation: pulse var(--star-animation-duration, 1000ms) infinite backwards,
      glowing var(--star-animation-glow-duration, 1000ms) infinite alternate backwards;
    animation-delay: var(--star-animation-delay, 0);
  }
  
  #starGroup {
    --dur: 100ms;
  }
  
  @keyframes pulse {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    70% {
      transform: scale3d(0.2, 0.2, 0.2);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
.main-image-container {
    height: 50%;
    width: 90%;
    margin: 3rem auto;

    @include lg {
        height: 40rem;
        max-width: 85%;
    }

    .main-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}

// Favorites Page
.favorites-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;

    .favorites-image {
        max-height: 400px;
        width: 100%;
        object-fit: contain;
    }

}